
<table class="tx-product-advertisement" >
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.name" />
		</td>
		<td>
			{products.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.images" />
		</td>
		<td>
			{products.images.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.description" />
		</td>
		<td>
			{products.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.fromdate" />
		</td>
		<td>
			{products.fromdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.todate" />
		</td>
		<td>
			{products.todate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.type" />
		</td>
		<td>
			{products.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.ownername" />
		</td>
		<td>
			{products.ownername}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.owneremail" />
		</td>
		<td>
			{products.owneremail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.ownerphone" />
		</td>
		<td>
			{products.ownerphone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.ownerzip" />
		</td>
		<td>
			{products.ownerzip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.ownerplace" />
		</td>
		<td>
			{products.ownerplace}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.status" />
		</td>
		<td>
			{products.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_productadvertisement_domain_model_products.approve" />
		</td>
		<td>
			{products.approve}
		</td>
	</tr>
</table>